 /* Background image */
 body {
    background-image: url('../backgrounds/login.png'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    /* background-color: white; */
    border-radius: 8px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.logo {
    max-width: 80%;
    height: auto;
}

.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
}